/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&family=Dosis:wght@200&family=Italianno&family=Poppins:ital,wght@0,300;1,100;1,600&family=Roboto:ital,wght@1,100&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
// @import url(https://cdn.shopify.com/s/files/1/0258/1472/8751/t/4/assets/sawmill-metric-stencil.woff2?v=29198483103892321201615145758);
body{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    background-color: #F5EADB;
}

 
